* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.parent{
    
    width: 1200px;
    height: 1200px;
    

    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    display: grid;
    gap: 50px;
 

}


.child{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 3px solid blue;

}