body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    border-bottom: 2px solid black;
    background-color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    color: white;
    padding: 15px 0;
}

main {
    margin-left: 60px;
    padding-top: 50px;
}

h1 {
    font-size: 70px;
}

p {
    
    font-size: x-large;
    font-weight: 300;
}

img {
    margin-left: 800px;
    
}

.content {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.content div {
    margin: 10px;
}

button {
    background-color: blue;
    margin-left: 100px;
    color: white;
    size: 50;
}