header{
    position: fixed;
    width: 940px;
    height: 90px;
    background-color: rgb(32, 30, 30);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    font-size: 20px;
}

button{
    background-color: transparent;
    color: white;
    
}

p{
    font-size: xx-large;
}

